<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.beer.market.infrastructure.repository.mapper.BomsBaseVehicleMapper">

    <select id="getLatestBaseVehicle" resultType="java.lang.Long">
        select MAX(id)
        FROM boms_base_vehicle
    </select>

    <select id="queryByIdList" resultType="com.sh.beer.market.infrastructure.repository.entity.BomsBaseVehicleEntity">
        select *
        from boms_base_vehicle
        where id in
        <foreach collection="idList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

</mapper>
