<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [TxId:%tid,SpanId:%X{PspanId}] %-5level %logger : %msg%n</pattern>
        </layout>
    </appender>
    <property name="log.base" value="logs/"/>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}out.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [TxId:%tid,SpanId:%X{PspanId}] %-5level %logger : %msg%n
            </pattern>
        </layout>
    </appender>

    <appender name="LogTraceAppender" class="com.nio.ngfs.plm.bom.configuration.api.config.warn.LogTraceAppender">
    </appender>

    <root level="INFO">
        <appender-ref ref="LogTraceAppender"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
