<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration>
    &lt;!&ndash;<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [TxId:%tid,SpanId:%X{PspanId}] %-5level %logger : %msg%n</pattern>
        </layout>
    </appender>&ndash;&gt;
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>
    <property name="log.base" value="logs/"/>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}out.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        &lt;!&ndash;<layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [TxId:%tid,SpanId:%X{PspanId}] %-5level %logger : %msg%n
            </pattern>
        </layout>&ndash;&gt;
    </appender>

    <appender name="LogTraceAppender" class="LogTraceAppender">
    </appender>

    <root level="INFO">
&lt;!&ndash;        <appender-ref ref="LogTraceAppender"/>&ndash;&gt;
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>
</configuration>-->
<configuration>
    <!-- 定义日志输出的格式 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 控制台输出的 Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 文件输出的 Appender -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mylog.log</file> <!-- 日志文件路径 -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/mylog.%d{yyyy-MM-dd}.log.gz</fileNamePattern> <!-- 日志文件的滚动策略 -->
            <maxHistory>30</maxHistory> <!-- 最大日志保留天数 -->
        </rollingPolicy>
    </appender>

    <!-- 日志级别设定，这里设定了根日志级别为 INFO -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
